sentencepiece
sentence-transformers>=3.1.0
transformers>=4.46.0
transformers_stream_generator
accelerate>=0.28.0
tiktoken>=0.6.0
gguf
optimum
peft
timm
modelscope>=1.19.0
FlagEmbedding
controlnet_aux
einops
